*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style:none;
}

a{
  text-decoration: none;
color: inherit;
}



body{
  font-family: sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
  border: 4px solid rgb(6, 6, 6);
}


.flex-row{
  display: flex;
}

.flex-column{
  display:flex;
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;

}

/* header +++++++++++++++++++++*/
header{

  background-color: orangered;
  color: white;
 
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}


.activities{
  
   justify-content: flex-end;
   gap: 10px;
}

.link{
   gap: 10px;
  
}

.logo{
width: 10%;
}
/* Utilities */
.width-20{
  width: 20%;

}

.padding-20{
  padding-bottom: 20px;
  padding-top: 20px;
}
.padding-5{
 padding: 5px;
}

.margin-10{
  margin-top:2%;
}

.space-around{
  display: flex;
  justify-content: space-between;
  
}

/* SECTION */

.col-30{
  width: 32%;
  border: 4px solid rgb(6, 6, 6);
}

.cards{
 
  position: relative;
    border: 4px solid rgb(6, 6, 6);
}



.img{
  max-width: 100%;
}

.price{
  color: red;
  font-weight: 900;
}

.square-green{
  display: inline-block;
  background-color: green;
  color: white;
  position: absolute;
  bottom: 20%;
   left: 15%;
}

.square-red{
  display: inline-block;
  background-color:red;
  color: white;
  position: absolute;
  bottom: 20%;
 
}
  
.btn{
  position: absolute;
  top: 2%;
  right: 0%;
  display: inline-block;
  width: 10%;
  height: 6%;
  background:white;
  font-size: 2rem;
}

.btn:hover{
  color: red;
}


